<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
    <link rel="stylesheet" href="{{=URL('static','css/index.css')}}">
	<style>

a
{
	position:relative;
	top:37%;
	padding-left:10%;
}
a:link    {color:#1E90FF;}
a:hover   {color:green;}
a:active  {color:yellow;}

#error
        {
            position:realtive;
            top:50%;
            
            font-size:15px;
        }
	</style>
    <script>
       
function myFunction1()
{
document.getElementById("demo").innerHTML='<div class=demo_div><div class="about">About</div><p style="font-size:15px; font-Style:italic; color:#660099;"> The purpose of Xam_ portaL_ is to take objective online test in an efficient manner and no time wasting for checking the paper.The main objective of Xam_ portaL_is to efficiently assesses the candidate thoroughly through a fully automated system that not only saves lot of time but also gives fast results. </p></div>'



}

function myFunction2()
{
document.getElementById("demo").innerHTML='<div class=demo_div><div class="about">Developers</div><p style="font-size:15px; font-Style:italic; color:#660099;"> This Web2py project has been developed by <b>Apratim Utkarsh</b> and <b>Ashutosh Mehta</b> both persuing MTECH from IIIT Hyderabad. This application was developed in the fulfillment of <b>Scripting and Computer Environment</b> course project   </p></div>'



}
function func0()
        {
             {{session.x=""}}
        }
        



</script>

</head>
<body>
    
	<div class="div1">
		<p class="p1">Xam_portaL_<br/>Online Excercise</p>
         {{session.x=""}}
        <a href="{{=URL('forgot')}}" onClick="func0()" style="text-decoration:none; margin-left:35%; top:0%;">Forgotten your password?</a>

	</div>




	<div class="grey">
	
		<div class="div3">
		
			<div class="div4">
			<p class="p2">Menu</p>
	
				<div class="div5">
                   
                    <a style="margin-left:45px; margin-bottom:100px; hover:red; text-decoration:none;" href="{{=URL('default','index')}}">Home</a>
                 
                 
                </div>	
	
				<div class="div5">
				<a style="margin-left:45px; margin-bottom:100px; text-decoration:none;"  href="#" onclick="myFunction1()">About</a>	
				</div>
	
				<div class="div5">
				<a style="margin-left:40px; margin-bottom:100px; text-decoration:none;"  href="#" onclick="myFunction2()">Developers</a>
				</div>



				<div id="demo_ans">  
			     	</div>
	

			</div>	
	
		
	
		
		</div>


		<section class="loginform cf">
		
		<form name="login" action="login" >
			<ul>
				<li>
					<label for="usermail" class="login_text">Email</label>
					<input type="email" name="userid" placeholder="yourname@email.com" required>
				</li>

				<li>
					<label for="password" class="login_text" >Password</label>
					<input type="password" name="password" placeholder="password" required ></li>
            </ul>
			 
				<li class="login_button">
                    <input  type="submit" id="login" value="Login &nbsp>>" style="cursor:pointer" >
				</li>
		</form>
		<form action="register">
            <ul>
				<li>
					<input type="submit"  id="register" value="Register ??" style="cursor:pointer" >
				</li>
			</ul>
             <div id="error">
                     		{{=error}}
                	</div>


		</form>

		
		
		</section>
       
		<div class="welcome"><p class="p3">Welcome to Xam_portaL_ Online Excercise!!!</p>

		</div>

		<div class="div6">
			<img src="{{=URL('static' , 'images/front.jpg')}}" class="front" alt="Home" />
			
		</div>
		
		

		<div class="div7">
           
			<img src="{{=URL('static' , 'images/GK.jpg')}}" class="photo" alt="Home" />
         
                
            </form>
			<p class="p4" >Sign up !!<br/>Test Your G.K. !!</p>
			
		</div>
		<div class="div8">
			<img src="{{=URL('static' , 'images/timer.jpeg')}}" class="photo" alt="Home" />
			<p class="p4"  >Test With Time Counter!!</p>
		</div>

		

	
	</div>
	
<div id="demo">
		</div>





	
	
</body>
</html>
